# This workflow will perform code analysis to confirm if the pull requests can be merged
#
#

name: Code Review

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  # Perform linting on code
  linting:

    name: Linting
    uses: shar1084/stockplot/.github/workflows/lint.yml@main

  buildtest:
  
    name: Build and Unit Tests
    needs:
       - linting
    uses: shar1084/stockplot/.github/workflows/build.yml@main

  githubas:

    name: Github Advanced Security
    needs:
       - buildtest
    uses: shar1084/stockplot/.github/workflows/github-as.yml@main

  externalsast:

    name: External SAST
    needs:
       - githubas
    uses: shar1084/stockplot/.github/workflows/external-sast.yml@main
    
